.title {
  text-align: center;
}

.productSelection {
  width: 75%;
}

.dress {
  height: 300px;
  display: inline-block;
}

#productForm {
  width: 50px;
  display: inline-block;
  vertical-align: top;
}

.formContainer {
  margin-bottom: 20px;
}

#quantity {
  width: 100px;
}

.productError {
  color: red;
  width: 100px;
  margin-top: -10px; 
}

#productButton {
  width: 100px;
}

.shippingTitle {
  text-align: center;
}

.shippingOption {
  display: block;
  margin-bottom: 15px;
  margin-left: 10%;
}

.shippingLabel {
  display: block;
  margin-bottom: 5px;
}

.shippingInput {
  width: 90%;
}

.shippingSelect {
  width: 92%;
}

// #country {
//   width: 200px;
// }

.shippingError {
  color: red;
  margin-left: 10%;
}

#shippingButton {
  margin-left: 10%;
}

// img {
//   display: inline-block;
// }

// label {
//   display: inline-block;
// }

// form {
//   display: inline-block;
// }

