<div class="summaryHeadingContainer">
  <h1 class="summaryHeading">Selected Product</h1>
</div>
<div class="summaryGrouping">
  <p class="summaryItem">Product: Amazing Dress</p>
  <p class="summaryItem">Size: {{size}}</p>
  <p class="summaryItem">Color: {{color}}</p>
</div>
<div class="summaryGrouping">
  <p class="summaryItem">Quantity: {{quantity}}</p>
</div>
