<label for="">Size:</label>
<select name="" id="">
  <option value="Small">Small</option>
  <option value="Medium">Medium</option>
  <option value="Large">Large</option>
</select>
<label for="">Color:</label>
<select name="" id="">
  <option value="Black">Black</option>
  <option value="Blue">Blue</option>
  <option value="Red">Red</option>
  <option value="Violet">Violet</option>
</select>
<label for="">Quantity: </label>
<input type="text">
<button id="productButton">Buy Now</button>