<div class="formContainer">
  <label for="size">Size:</label>      
  <select name="size" id="size">
    <option value="Small" selected>Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
  </select>
</div>
<div class="formContainer">
  <label for="color">Color:</label>
  <select name="color" id="color">
    <option value="Black" selected>Black</option>
    <option value="Blue">Blue</option>
    <option value="Red">Red</option>
    <option value="Violet">Violet</option>
  </select>
</div>
<div class="formContainer">
  <label for="quantity">Quantity: </label>
  <input name="quantity" id="quantity" type="text" value={{quantity}}>
</div>
{{#if invalid}}
  <p class="productError">You must buy at least 1 of an item</p>
{{/if}}
<button id="productButton">Buy Now</button>
