<main>
  <section class="productSelection">
    <img class="dress" src="http://res.cloudinary.com/dyr8j9g6m/image/upload/v1511416718/blackDress_dlhlzt.jpg" alt="the dress">
    <form id="productForm" action=""></form>
  </section>
  <section>
    {{#if productFormHidden}}
      <form id="shippingForm" action="" hidden></form>
    {{else}}
      <form id="shippingForm" action=""></form>
    {{/if}}
  </section>
  {{#if displayInfoHidden}}
    <section id="displayInfo" hidden>
      <div id="displayProductInfo"></div>
      <div id="displayShippingInfo"></div>
    </section>
  {{else}}
    <section id="displayInfo">
      <div id="displayProductInfo"></div>
      <div id="displayShippingInfo"></div>
    </section>
  {{/if}}
</main>

