<img src="http://res.cloudinary.com/dyr8j9g6m/image/upload/v1511416718/blackDress_dlhlzt.jpg" alt="the dress">
<section>
  <form id="productForm" action=""></form>
  <form id="shippingForm" action="" hidden></form>
</section>
<section id="displayInfo" hidden>
  <div id="displayProductInfo"></div>
  <div id="displayShippingInfo"></div>
</section>
